<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
   <head>
      <title>DroneMission - HeadQuarter Unit Control</title>
       <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="/libs/css/dronemission.css">
       
       <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
       <script type="text/javascript" src="/libs/js/jquery.min.js"></script>
              <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="/libs/js/dronemission.js"></script>
 
   </head>

   <body data-spy="scroll" data-target="#navWrapper">
   
   <header>
	  <div id="" class="container">
	  	<h1 class="brand inline pull-left"><a href="/"></a><span>DroneMission<small>Control Unit<sub> <sub>&nbsp;0.1 beta</sub></sub></small></span></h1>
	  </div>

	</header>
	
  <div class="container">
  	<div id="main">
